@font-face {
  font-family: 'cmuConcreteReg';
  src: url('font/cmunorm.ttf') format('truetype');
  /* Legacy iOS */
}

@font-face {
  font-family: 'cmuConcreteIta';
  src: url('font/cmunvi.ttf') format('truetype');
  /* Legacy iOS */
}

@font-face {
  font-family: 'cmuConcreteBold';
  src: url('font/cmunobx.ttf') format('truetype');
  /* Legacy iOS */
}

@font-face {
  font-family: 'cmuConcreteItaBold';
  src: url('font/cmuntx.ttf') format('truetype');
  /* Legacy iOS */
}

:root {
  --default-size: 12px;
  --padding: 4mm;
}

body, html {
  font-family: cmuConcreteReg;
  font-size: var(--default-size);
  display: inline-block;
  line-height: 1.2rem;
  background: lightgrey;
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

/*----- STRUCTURE -----*/
.recto,
.verso {
  margin: 0 auto;
  display: grid;
  background: white;
  /* margin-bottom: var(--padding); */
  height: 297mm;
  width: 210mm;
  grid-template-columns: 25% 25% 50%;
  margin-bottom: 8mm;
}

.recto {
  grid-template-areas: "rectoHautG rectoHautD"
    "rectoBasG rectoBasD";
}

.verso {
  grid-template-areas: "rien rien versoHaut"
    "rien rien versoBas";
}

.hautGauche,
.hautDroit,
.basGauche,
.basDroit,
.versoHaut,
.versoBas {
  background: LightGoldenRodYellow;
}

.hautGauche {
  grid-area: rectoHautG;
  display: grid;
  grid-template-rows: auto min-content;
  grid-row-gap: 1rem;
}

.hautDroit {
  grid-area: rectoHautD;
}

.basGauche {
  grid-area: rectoBasG;
  /* display: grid;
  grid-template-rows: auto min-content; */
}

.basDroit {
  grid-area: rectoBasD;
}

.versoHaut {
  grid-area: versoHaut;
}

.rien {
  grid-area: rien;
}

.versoBas {
  grid-area: versoBas;
}

/*----- GENERAL STYLING-----*/
.versoHaut,
.hautDroit,
.hautGauche,
.versoBas {
  padding: var(--padding);
}

.title {
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-family: cmuConcreteIta;
}

.zotero>div {
  padding-bottom: var(--padding);
}

.sub-title {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.collection {
  text-transform: uppercase;
}

.details {
  font-size: 0.9rem;
  line-height: 1rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.info {
  bottom: 0;
  align-self: end;
}

.info>div {
  padding-bottom: 4mm;
}

.info>div:last-child {
  padding-bottom: 0;
}

.italic {
  font-family: cmuConcreteIta;
}

.info>p:last-child {
  padding-bottom: 0mm;
}

.abstractNote {
  padding-bottom: var(--padding);
}

.add>span.date:after {
  content: '\A';
  white-space: pre;
}

.add>span.italic:after {
  content: '\A';
  white-space: pre;
}

strong:after {
  content: '\A';
  white-space: pre;
}

.verso strong:after {
  content: '\A';
  white-space: nowrap;
}

.url {
  text-decoration: underline;
}

.add {
  border: 1px dashed black;
  padding: 4mm;
}

p {
  margin: 0;
  padding-bottom: 2mm;
}

#rotatedElement {
  transform: rotate(0deg);
}

span.champs {
  font-weight: bold;
}

.sub-title.coll {
  padding-bottom: 2mm;
  display: inherit;
}

.tag {
  font-family: cmuConcreteIta;
  font-size: 16px;
  background-color: white;
  padding: 4px;
  position: relative;
  white-space: break-spaces;
  outline: solid black 1px;
  border-radius: 20px;
  line-height: 27px;
}

.coll:before {
  content: '—';
}

.colonne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--padding);
}

/*----- PAYSAGE -----*/
.tags {
  padding: var(--padding);
  padding-bottom: 0;
}

.paysage .title,
.paysage .tags {
  transform: rotate(-90deg);
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  padding-left: 2rem;
}

.paysage .tags {
  padding: 12mm;
  top: 16mm;
  position: relative;
}

.mail {
  /* border-bottom: 1px solid dashed; */
  border-bottom: 1px dashed black;
  /* display: inline; */
}

/* .hautGauche > div,
.basGauche > div{
  padding-left: 4mm;
} */
/*----- ELEMENT-SPECIFIC STYLING -----*/
#contentSource {
  -regions-flow-into: content-flow;
}

.basGauche, .basDroit {
  -regions-flow-from: content-flow;
  padding: 4mm;
}

.contentContainer {
  /* -regions-flow-from: content-flow; */
  width: 163px;
  padding: var(--padding);
  overflow: hidden;
}

.basGauche .contentContainer {
  margin-top: 0px;
  height: 100px;
}

.basGauche .tags+.contentContainer {
  margin-top: 200px;
  height: calc(100% - 350px);
}

/*----- PLIS -----*/
.hautDroit,
.hautGauche,
.versoHaut {
  border-bottom: 1px dashed black;
}

.hautGauche,
.basGauche {
  border-right: 1px dashed black;
}