
html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

:root {
  --color-blue: #e0eaff;
  --color-yellow: #fefbd5;
  --color-pink: #fdead7;
  --color-green: ;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
grid-row: 1/2;
background-color: #fefbd5;
}

header nav {

}

header nav a {
  border-bottom: 1px solid;
  cursor: pointer;
}

header.ressources nav a:first-of-type, header.about nav a:nth-of-type(2), header.ebd nav a:nth-of-type(3) {
  border-bottom: 0px solid;
}

header nav a:hover, header nav a.active {
  border: none;
}

header #contact {
  margin-left: auto;
  line-height: 1;
}

header #contact:hover .crayon {}

body {

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  /* grid-gap: 1rem; */
  font-size: 1rem;
  height: 100vh;
  margin:0;
  background-color: rgb(235, 235, 235);

}

aside {
  grid-row: 2/25;
  grid-column: 1/4;
  
}

aside li a, #mobile_coll a {
  padding: 1.6rem 3.2rem;
}


aside li a {
  display: block;
  width: 100%;
  font-size: 2rem;
}

ul, li {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

#ebdTexte{
  font-size: 1.5rem;
  line-height: 1.6;
  padding : 1.6rem 3.2rem;

}

#ebdTexte img{
  display: none;
}

#ref {
  align-content: baseline;
  line-height: 1.7;
  overflow-y: scroll;
  grid-row: 2/25;
  grid-column: 1/8;
  display:grid;
  height: max-content;
  
}

#right {
  padding-top: 20px;
  background-color: rgb(235, 235, 235);
  /* border: solid black 1px; */
  grid-column: 8/12;
  grid-row: 1/24;
  display: grid;
  overflow-y: hidden;
}



#ref>article:first-of-type h3 {
  font-size: 4rem;
}


details, 
summary {
  display: grid;
}

#ref>article {

  padding: 2rem;
  margin-bottom: 1rem;
  /*height: max-content;*/
  /* display: block; */
  line-height: 1.5;
  overflow: hidden;
  border-top: dotted black 1px;
  /* background-color: white; */
}

#ref>article h3 {
  font-size: 2.8rem;
  font-weight: normal;
  margin-bottom: 2rem 0 0 0;
}

#ref>article:nth-of-type(2n+1) {
background-color: white;
}



#ref>article span {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

#ref>article .in
html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

:root {
  --color-blue: #e0eaff;
  --color-yellow: #fefbd5;
  --color-pink: #fdead7;
  --color-green: ;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
grid-row: 1/2;
background-color: #fefbd5;
}

header nav {

}

header nav a {
  border-bottom: 1px solid;
  cursor: pointer;
}

header.ressources nav a:first-of-type, header.about nav a:nth-of-type(2), header.ebd nav a:nth-of-type(3) {
  border-bottom: 0px solid;
}

header nav a:hover, header nav a.active {
  border: none;
}

header #contact {
  margin-left: auto;
  line-height: 1;
}

header #contact:hover .crayon {}

body {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 1rem;
  font-size: 1rem;
  height: 100vh;
  margin:0;
  color: darkolivegreen;

}

 aside {
  grid-row: 2/25;
  grid-column: 1/4;
}

aside li a, #mobile_coll a {
  padding: 1.6rem 3.2rem;
}


aside li a {
  display: block;
  width: 100%;
}

ul, li {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}


main {
  align-content: baseline;
  line-height: 1.7;
  overflow-y: scroll;
  grid-row: 2/25;
  grid-column: 4/17;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(24, 1fr);
  display:grid;
}

main>article:first-of-type h3 {
  font-size: 4rem;
}


main>article {

  padding: 2rem;
  margin-bottom: 1rem;
  /*height: max-content;*/
  /* display: block; */
  line-height: 1.5;
  overflow: hidden;
  border: solid black 1px;
}

main>article h3 {
  font-size: 2.8rem;
  font-weight: normal;
  margin-bottom: 2rem 0 0 0;
}

main>article span {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

main>article .infos {
  color: rgba(16, 24, 40, 0.7);
  /* display: block; */
}

main>article .tags {
  color: rgba(16, 24, 40, 0.7);
  display: block;
}

main>article .source, #article a {
  /* display: inline-block; */
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#abstractNote {
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: stretch;
  box-sizing: content-box;
}

.boite-courte {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
}

#notes {
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: stretch;
  box-sizing: content-box;
  align-items: flex-start;

}


li.ebd a {
  position: relative;
}

.imprimer {
  border-bottom: 1px dashed;
}

.ebd_logo {
  display: inline;
  position: absolute;
  right: 0;
  top: -3rem;
  font-size: 1.25rem;
}

.mobile {
  display: none;
}

#about {
  font-size: 1.8rem;
  grid-column: 1 / span 2;
}
#about #ressourcotheque{
  margin: 2rem 25%;
  width: 50%;
}


#doc_info {
	top: 0;
	right: 0;
	font-size: 2em;
	line-height: 1.2em;
	z-index: 3;
	display: none;
	width: 40%;
	height: 100%;
	position: fixed; 
	border-left: 1px solid;
	background: var(--cl-bg);
	padding: 2em;
	overflow-y: scroll;
}
/* .active {
	display: block !important;
} */

#doc_info .close{
	position: fixed;
	top: -1em;
	font-size: 1em;
	cursor: pointer;
	top: .5em;
	right: calc(40% - 2em);
}
#doc_info .info_content{
	margin-top: 2em;
}

#doc_info .title{
  font-size: 3rem;
  line-height: 1.2em;

  /* width: 85%; */
}
#doc_info .tag {

  font-size: 22px;
  background-color: white;
  padding: 4px;
  position: relative;
  white-space: break-spaces;
  outline: solid black 1px;
  line-height: 27px;
}

#doc_info .details{
  font-size: 1.4rem;
  line-height: 1.4rem;
  overflow-wrap: break-word;
  /* word-break: break-word; */
	/* display: flex; */
	margin-top: 1em;
	bottom: 1em;
	width: 100%;
}

#doc_info .sub-title{
	line-height: 1.2em;
}
#doc_info .imprimer {
	font-size: 1.6em;
	right: .5em;
	position: fixed;
	bottom: .5em;
}
.information{ 
	/*margin-left: 2em;*/
}


#about a, .information, #ebdTexte a{
  border-bottom: 1px solid;
  cursor: pointer;
  
}
.information:hover, #ebdTexte a:hover, #about a:hover{
	border-bottom: none;
}

@media screen and (max-width: 991px) {
  header {
    padding: 1rem 2rem;
  }

  main article {
    width: 100%;
  }

  html{
		font-size: calc(2em * 0.3);
	}
  #desktop {
    display: none;
  }

  body {
    padding: 2rem;
    margin-top: 2rem;
    grid-template-columns: 1fr;
		font-size: ;
  }

  details.mobile {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
  }

  .mobile_menu {
    padding-top: 4rem;
    height: 100vh;
    background-color: white;
  }

  details[open] {
    /* padding-bottom : 100vh; */
    min-height: 100vh;
    overflow-y: scroll;
    background-color: white;
  }

  details #mobile_icon {
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 2rem;
    z-index: 2;
  }

  details #mobile_icon div {
    height: 2px;
    width: 100%;
    background: black;
  }

  #mobile_about>li {
    border-top: 1px solid black;
  }

  details summary::before {
    content: "≡";
    font-size: 4rem;
  }

  details[open] summary::before {
    content: "✕";
    font-size: 4rem;
  }

  span#title {
    position: relative;
    z-index: 0;
  }

  aside {
    display: none;
  }

  header {
    display: flex;
    background: transparent;
  }

  main>article {
    padding: 2rem;
  }

  main>article h3, main>article:first-of-type h3 {
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  main>article span {
    /* margin: 0; */
    font-size: 1.35rem;
  }

  ul, li {
    padding: 1rem;
  }

	#doc_info {
		width: 100%;
		border-left: none;
	}

	#doc_info .close{
		right: calc(100% - 2em);
	}

  #ebdTexte{
    display: none;
  }
  #about #ressourcotheque{
    width: 100%;
    margin: 1rem 0;
  }

}



.printMP{
border-bottom: 1px dashed black;
display: inline-block;
}

fos {
  color: rgba(16, 24, 40, 0.7);
  display: block;
}

main>article .tags {
  color: rgba(16, 24, 40, 0.7);
  display: block;
}

main>article .source, #article a {
  display: inline-block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#abstractNote {
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: stretch;
  box-sizing: content-box;
}

.boite-courte {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
}

#notes {
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: stretch;
  box-sizing: content-box;
  align-items: flex-start;

}


li.ebd a {
  position: relative;
}

.imprimer {
  border-bottom: 1px dashed;
}

.ebd_logo {
  display: inline;
  position: absolute;
  right: 0;
  top: -3rem;
  font-size: 1.25rem;
}

.mobile {
  display: none;
}

#about {
  font-size: 1.8rem;
  grid-column: 1 / span 2;
}
#about #ressourcotheque{
  margin: 2rem 25%;
  width: 50%;
}


#doc_info {
	top: 0;
	right: 0;
	font-size: 2em;
	line-height: 1.2em;
	z-index: 3;
	display: none;
	width: 40%;
	height: 100%;
	position: fixed; 
	border-left: 1px solid;
	background: var(--cl-bg);
	padding: 2em;
	overflow-y: scroll;
}
.active {
	display: block !important;
}

#doc_info .close{
	position: fixed;
	top: -1em;
	font-size: 1em;
	cursor: pointer;
	top: .5em;
	right: calc(40% - 2em);
}
#doc_info .info_content{
	margin-top: 2em;
}

#doc_info .title{
  font-size: 3rem;
  line-height: 1.2em;

  /* width: 85%; */
}
#doc_info .tag {

  font-size: 22px;
  background-color: white;
  padding: 4px;
  position: relative;
  white-space: break-spaces;
  outline: solid black 1px;
  line-height: 27px;
}

#doc_info .details{
  font-size: 1.4rem;
  line-height: 1.4rem;
  overflow-wrap: break-word;
  /* word-break: break-word; */
	/* display: flex; */
	margin-top: 1em;
	bottom: 1em;
	width: 100%;
}

#doc_info .sub-title{
	line-height: 1.2em;
}
#doc_info .imprimer {
	font-size: 1.6em;
	right: .5em;
	position: fixed;
	bottom: .5em;
}
.information{ 
	/*margin-left: 2em;*/
}


#about a, .information, #ebdTexte a{
  border-bottom: 1px solid;
  cursor: pointer;
  
}
.information:hover, #ebdTexte a:hover, #about a:hover{
	border-bottom: none;
}

@media screen and (max-width: 991px) {
  header {
    padding: 1rem 2rem;
  }

  main article {
    width: 100%;
  }

  html{
		font-size: calc(2em * 0.3);
	}
  #desktop {
    display: none;
  }

  body {
    padding: 2rem;
    margin-top: 2rem;
    grid-template-columns: 1fr;
		font-size: ;
  }

  details.mobile {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
  }

  .mobile_menu {
    padding-top: 4rem;
    height: 100vh;
    background-color: white;
  }

  details[open] {
    /* padding-bottom : 100vh; */
    min-height: 100vh;
    overflow-y: scroll;
    background-color: white;
  }

  details #mobile_icon {
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 2rem;
    z-index: 2;
  }

  details #mobile_icon div {
    height: 2px;
    width: 100%;
    background: black;
  }

  #mobile_about>li {
    border-top: 1px solid black;
  }

  details summary::before {
    content: "≡";
    font-size: 4rem;
  }

  details[open] summary::before {
    content: "✕";
    font-size: 4rem;
  }

  span#title {
    position: relative;
    z-index: 0;
  }

  aside {
    display: none;
  }

  header {
    display: flex;
    background: transparent;
  }

  main>article {
    padding: 2rem;
  }

  main>article h3, main>article:first-of-type h3 {
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  main>article span {
    /* margin: 0; */
    font-size: 1.35rem;
  }

  ul, li {
    padding: 1rem;
  }

	#doc_info {
		width: 100%;
		border-left: none;
	}

	#doc_info .close{
		right: calc(100% - 2em);
	}

  #ebdTexte{
    display: none;
  }
  #about #ressourcotheque{
    width: 100%;
    margin: 1rem 0;
  }

}



.printMP{
border-bottom: 1px dashed black;
display: inline-block;
}

