<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link href="../static/css/imprimer.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<main>
		{% set hauteurMax = 240 %}
		{% set dimension = doc.data.extra.split('x') %}
		{% set largeur = dimension[0] + 'mm' %}
		{% set hauteur = dimension[1] + 'mm' %}
		{% set largeurInt = dimension[0] | int %}
		{% set hauteurInt = dimension[1] | int %}
		{% if hauteurInt <= hauteurMax %}
		{% set orientation = 'portrait' %}
		{% set height_mp = hauteur %}
		{% else %}
		{% set orientation = 'paysage' %}
		{% set height_mp = largeur %}
		{% endif %}

		<!-- MARQUEPAGE FORMAT PORTRAIT  -->
		<style type="text/css" media="print">
			@page {
				size: A4 portrait;
			}

			.recto,
			.verso {
				margin-bottom: 0;
			}

			.hautDroit,
			.hautGauche,
			.versoHaut,
			.basGauche,
			.basDroit,
			.versoBas {
				border: 0px;
				background: transparent;
			}
		</style>
		<!-- RECTO  -->
		<div class="{{ orientation }}">
			<div class="recto" style="grid-template-rows:calc(297mm - {{height_mp}})">
				{% include 'recto.html' %}
			</div>
			<!-- VERSO  -->
			<div class="verso" style="grid-template-rows:calc(297mm - {{height_mp}})">
				{% include 'verso.html' %}
			</div>
		</div>


	</main>
	<script src="../static/cssregions.js"></script>
</body>


</html>