<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <style>
    :root {
      --cl-bg: #d6ffbd;
    }

    article.ebd {
      background: var(--cl-bg);
    }

    a.ebd {
      background: var(--cl-bg);
    }

    li.ebd sup {
      background: var(--cl-bg);
      padding: 0.2em;
      border-radius: 10%;
      white-space: nowrap;
    }
  </style>
</head>

<header class="desktop {{ page }} {{ selection }}" id="header_desktop">
  <span id="title"><a href="/">Cabanes de savoirs</a></span>

  <!-- MENU MOBILE -->
  <details class="mobile">
    <summary id="mobile_icon">
      <div></div>
      <div></div>
      <div></div>
    </summary>
    <div class="mobile_menu">
      <ul id="mobile_about">
        <li><a href="1234">À propos</a></li>
      </ul>
      <ul id="mobile_coll">
        <li>
          Ressources
        </li>
        <li><a href="/">Tous les thèmes</a></li>
        {% for col in collections %}
        {% set key = col.keys() | list %}
        {% set value = col.values() | list %}
        <li class="{% if 'EbD' in value[0] %} ebd  {% endif %}"><a
            href="/{{ key[0] }}">{{value[0] | replace('EbD2022:', '')}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </details>

  <!-- MENU DESKTOP -->

</header>

<body>






  <aside>
    <ul>
      <li><a href="/">Tous les thèmes</a></li>
      {% for col in collections %}
      {% set key = col.keys() | list %}
      {% set value = col.values() | list %}
      <li class="{% if 'EbD' in value[0] %}ebd{% endif %}">
        <a href="/{{direction}}{{ key[0] }}">{{value[0] | replace('EbD2022:', '')}} {% if 'EbD' in value[0] %}<sup>EbD
            2022</sup>{% endif %}</a>
      </li>
      {% endfor %}
      <ul>
        <p id="ebdTexte"> {{ ebdTexte|safe}}</p>

  </aside>



  <main>


    <section id="right">Mots clés</section>
    <section id="ref">
      {% for doc in documents %}
      <article class="{% for col in doc.collections_title %}{% if 'EbD' in col %}ebd{% endif %}{% endfor %}">
        {% for col in doc.collections_title %}
        <span><a href="#">{{col | replace('EbD2022:', '')}}</a>{% if 'EbD' in col %}<sup> EbD
            2022</sup>{% endif %}{% if not loop.last %},{% endif %}</span>
        {% endfor %}


        <h3><a href="{{ doc.data.url }}">{{ doc.data.title }}</a></h3>

        {% if doc.data.publicationTitle %}
        <span class="source"> {{ doc.data.publicationTitle }}</span>
        {% endif %}
        <span class='infos'>{{ doc.data.itemType }}</span>


        {% if doc.data.creators %}
        {% for creator in doc.data.creators %}
        {% if creator.firstName %}
        <span>{{ creator.firstName }} </span>
        <span>{{ creator.lastName }}{% if not loop.last %},{% endif %}</span>
        {% else %}
        <span>{{ creator.name }}{% if not loop.last %},{% endif %}</span>
        {% endif %}


        {% if doc.data.tags | length > 0 %}{% set tags = [] %}
        <span>{% for tag in doc.data.tags %}{{ tags.append(tag.tag)}}{% endfor %}</span>

        <span class="tags">
          <ul>
            <li>{{ tags }}</li>
          </ul>
        </span>
        {% else %}

        <div class="notags">
          {% endif %}
        </div>
        {% endfor %}


        {% if doc.data.abstractNote %}


        <!-- <div class="abstractNote"> -->
        <details>
          <summary>Résumé&thinsp;:</summary>
          <div id="notes">
            {{doc.data.abstractNote}}</div>
          <!-- </div> -->
        </details>
        {% endif %}




        {% if doc.data.language %}<span>-</span>{% endif %}{% endif %}{% if doc.data.language %}
        <span>{{ doc.data.language }} </span>
        {% endif %}
        {% if 'EbD' in doc.collections_title[0] %}





        <!-- <span id="info_print">
            <span> <a onClick="getInformation('{{ doc.key }}')" class="information printMP">Marque-page</a></span>
          </span>
          {% endif %}
        </article>
        {% endfor %}

      

        <div id="doc_info">
          <a class="close" onClick="close_box('doc_info')">X</a>
          <div id="info_content">
          </div>
        </div> -->

  </main>

  <script>
    async function getInformation(key) {
      var response = await fetch('/info/' + key)
      let data = await response.text();
      var doc_info = document.getElementById('doc_info')
      var info_content = document.getElementById('info_content')
      info_content.innerHTML = data
      doc_info.classList.add('active')
    }

    function close_box(id) {
      document.getElementById(id).classList.remove('active')
    }

    // variable pour les boutons tags - filtre de navigation
    var TAGS_NAV = document.querySelectorAll('.texte_tag_filtre')

    // variable pour chaque document
    var DOCS = document.querySelectorAll('.document')

    // variable pour chaque tag de chaque document
    var ITEM_TAGS = document.querySelectorAll('.tag')

    // variable pour chaque document qui n'a pas de tags
    var NOTAGS = document.querySelectorAll('.notags')

    // variable pour se savoir ce qui était sélectionné avant
    var selecPrecedente

    // pour chaque bouton de filtre
    TAGS_NAV.forEach(function (filtre, i) {
      // quand clic sur un bouton filtre
      filtre.addEventListener('click', function () {

        // désélectionner les filtres précédents (on ne peut avoir qu'un seul filtre à la fois)
        document.querySelectorAll('.tag_selection').forEach(function (selected) {
          selected.classList.remove('tag_selection')
        })

        // si le filtre est déjà activé, le désactiver
        if (selecPrecedente == filtre) {
          filtre.parentElement.classList.remove('tag_selection')
          DOCS.forEach(function (item) {
            // on réaffiche tout ce qui était caché
            item.classList.remove('desactive')

          })

          // reset la sélection
          selecPrecedente = ''

        } else {
          // enregistre ce qui a été sélectionné
          selecPrecedente = filtre

          // rajoute un style "sélectionné" sur le bouton, ou l'enlève s'il est déjà là
          filtre.classList.toggle('tag_selection')

          // variable texte_filtre contient le texte de ce bouton
          var texte_filtre = filtre.innerHTML

          // cache les documents sans tags
          NOTAGS.forEach(function (notags) {
            notags.parentElement.parentElement.classList.add('desactive')
          })

          // pour chaque tag de document
          ITEM_TAGS.forEach(function (item, i) {
            // incluant la variable texte_filtre
            if (item.innerHTML.includes(texte_filtre)) {
              // enlève la classe desactive
              item.parentElement.parentElement.classList.remove('desactive')

            } else {
              //si non attribue la classe desactive
              item.parentElement.parentElement.classList.add('desactive')

            }
          })
        }
      })
    })
  </script>
</body>

</html>