
	<div class="title">
		{% if doc.data.itemType == 'bookSection' %}
		{{ doc.data.bookTitle }}
		{% else %}
		{{ doc.data.title }}
		{% endif %}
	</div>

	<!-- CRÉATEUR.ICE -->
	{% if doc.data.creators %}
	<br>
	<div class="sub-title">
		{% for creator in doc.data.creators %}
		{% if creator.name %}
		{{ creator.name }}</br> 
		{% endif %}
		{% if creator.firstName or creator.lastName %}
			{{ creator.firstName }} {{ creator.lastName }} <br>
		{% endif %}
		{% endfor %}
	</div>
	<br>
	{% endif %}



	<!-- ITEM TYPE -->
	{% if doc.data.itemType or doc.data.pages %}
	<div>
		{{doc.data.itemType | replace("bookSection", "Chapitre") | replace("webpage", "Page web") | replace("thesis", "Thèse") | replace("magazineArticle", "Article de magazine") | replace("book", "Livre") | replace("blogPost", "Billet de blog") | replace ("videoRecording", "Enregistrement vidéo") | replace ("journalArticle", "Article de journal") | replace ("document", "Document")}}
		{% if doc.data.pages %}
		(page {{ doc.data.pages }})
		{% endif %}
	</div>
	{% endif %}

	<!-- PUBLICATION INFOS -->
	{% if doc.data.publicationTitle or doc.data.bookTitle or doc.data.blogTitle or  doc.data.issue or doc.data.publisher or doc.data.place or doc.data.date or doc.data.language %}
	<div>
		{% if doc.data.publicationTitle %}<span class="italic">{{doc.data.publicationTitle}}</span>{% endif %}
		{% if doc.data.bookTitle %}<span class="italic"><b>{{doc.data.title}}</b></span>{% endif %}
		{% if doc.data.blogTitle %}<span class="italic">{{doc.data.blogTitle}}</span>{% endif %}
		{% if doc.data.issue %} n°{{doc.data.issue}}{% endif %}{% if doc.data.publisher %}{{doc.data.publisher}}{% endif %}{% if doc.data.place %},
		{{doc.data.place}}{% endif %}{% if doc.data.date %}, {{doc.data.date}}{% endif %}{% if doc.data.language %}, en {{doc.data.language}}{% endif %}
	</div>
	{% endif %}



	{% if doc.data.tags %}
	<br>
	<div class="tags">
		{% for tag in doc.data.tags %}
		{% if tag.tag %}
			<span class="tag" style="margin-left: {{range(1,50)|random}}px;">{{tag.tag}}</span>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	<!-- RESUMÉ -->
	{% if doc.data.abstractNote %}
	<br>
	<div class="abstractNote">
		<strong>Résumé&thinsp;:</strong>
		{{doc.data.abstractNote}}
	</div>
	{% endif %}
	<!-- NOTE -->
	{% if doc.note %}
		<br>
		<div class="note">
			{{ doc.note|safe }}
		</div>
	{% endif %}
	
	<!-- AJOUT + MODIFS -->
	{% if doc.data.dateModified or doc.meta.createdByUser.username or doc.data.dateAdded %}
	<div class="details add">
		{% if doc.meta.createdByUser.username %}
		<strong>Ajouté par&thinsp;:</strong>
		<span class="italic">{{ doc.meta.createdByUser.username }}</span><br>
		{% endif %}
		{% if doc.data.dateAdded %}
		<span>le </span><span>{{ doc.data.dateAdded }}</span><br><br>
		{% endif %}
		{% if doc.meta.lastModifiedByUser %}
		<strong>Modifié par&thinsp;:</strong>
		<span class="italic">{{ doc.meta.lastModifiedByUser.username }}</span><br>
			{% if doc.data.dateModified %}
			<span>le </span><span>{{ doc.data.dateModified }}</span>
			{% endif %}
		{% else %}
		<strong>Modifié le&thinsp;:</strong>
			{% if doc.data.dateModified %}
			<span>{{ doc.data.dateModified }}</span>
			{% endif %}
		{% endif %}
		
		
	</div>
	{% endif %}
  <span><a class="imprimer" href="/imprimer/{{ doc.key }}">⎙</a></span>
	
