<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link href="../static/css/imprimer.css" rel="stylesheet" type="text/css" />
</head>

<style>
html, body{
	background: none;
}
	@page{
		size:21cm 29.7cm;
	}

	body *{
		box-sizing: border-box;
	}
.page{
	line-height: 1.5;
}
	.titre{
		font-size: 1.1rem;
		font-family: 'cmuConcreteIta'
	}

	.aut{
		font-size: 1.1rem;
		font-size:'cmuConcreteReg';
	}

	.titre:before{
		content: '– ';
	}

	.page{
		height: 29.7cm;
		width: 105mm;
		background: white;
		padding: 0.8cm;
	}

	.type.tag{
		font-size: 1rem;
		padding: 1px 5px;
		line-height: 0;
	}
</style>

<body>
	<main>
		{% for col in collections %}
		{% set key = col.keys() | list %}
		{% set value = col.values() | list %}
		
		{% if 'EbD' in value[0] %}

		{% set colll = value[0] | replace('EbD2022: ', '') %}

		{% set words = colll.split(' ') | list %}
	

		<div class='page'>

			{% for word in words %}
<span class="tag" style="margin-left: {{range(1,200)|random}}px;">{{ word }}</span><br>

{% endfor %}

{% for docu in documents %}
{% if key[0] in docu.data.collections %}

<div class="item">

	<span class="titre">{{ docu.data.title | replace(" :", ":" ) | replace(":", "&#8239;:" ) | replace("de ", "de\u00A0") | replace("le ", "le\u00A0") | replace("la ", "la\u00A0")| replace("un ", "un\u00A0") | replace("la ", "la\u00A0") | replace("Un ", "Un\u00A0") | safe}}</span>
	


	{% if docu.data.creators %}
	{% for creator in docu.data.creators %}
	
	{% if creator.name %}
	<span>{{creator.name}}</span>
	
	{% else %}
<span>{{creator.firstName}} {{creator.lastName}}{% if not loop.last %},{% endif %}</span>




	
<!-- 	<span class="aut">{{docu.data.creators[0].firstName}} {{docu.data.creators[0].lastName}} </span> -->
	
	{% endif %}

	{% endfor %}
	{% endif %}

<span class="type tag">{{ docu.data.itemType | replace(" :", ":" ) | replace(":", "&#8239;:" ) | safe}}</span>

</div>
{% endif %}
{% endfor %}
	</div>
		{% endif %}
		{% endfor %}

	</main>
</body>


</html>