<div class="hautGauche" id="rotatedElement">
	<!-- TITRE -->
	{% if doc.data.title %}
		{% if doc.data.itemType == 'bookSection' %}
		<p class="title">{{ doc.data.bookTitle | replace("de ", "de\u00A0") | replace("le ", "le\u00A0") | replace("la ", "la\u00A0")| replace("un ", "un\u00A0") | replace("la ", "la\u00A0") | replace("Un ", "Un\u00A0")}}</p>
		{% else %}
		<p class="title">{{ doc.data.title | replace("de ", "de\u00A0") | replace("le ", "le\u00A0") | replace("la ", "la\u00A0")| replace("un ", "un\u00A0") | replace("la ", "la\u00A0") | replace("Un ", "Un\u00A0")}}</p>
		{% endif %}
	{% endif %}

	<div class="info">
		<!-- CRÉATEUR.ICE -->
		{% if doc.data.creators %}
		<p class="sub-title">
			{% for creator in doc.data.creators %}
			{% if creator.name %}
			{{ creator.name }}<br>
			{% endif %}
			{% if creator.firstName or creator.lastName %}
			{{ creator.firstName }} {{ creator.lastName }}{% if not loop.last %},{% endif %}<br>
			
			{% endif %}
			{% endfor %}
		</p>
		{% endif %}

		<!-- ITEM TYPE -->
		{% if doc.data.itemType or doc.data.pages %}
		<p>
			{{doc.data.itemType | replace("bookSection", "Chapitre") | replace("webpage", "Page web") | replace("thesis", "Thèse") | replace("magazineArticle", "Article de magazine") | replace("book", "Livre") | replace("blogPost", "Billet de blog") | replace ("videoRecording", "Enregistrement vidéo") | replace ("journalArticle", "Article de journal") | replace ("document", "Document")}}
			{% if doc.data.pages %}
			(p.&#8239;{{ doc.data.pages }})
			{% endif %}
		</p>
		{% endif %}

		<!-- PUBLICATION INFOS -->
		{% if doc.data.publicationTitle or doc.data.bookTitle or doc.data.blogTitle or  doc.data.issue or doc.data.publisher or doc.data.place or doc.data.date or doc.data.language %}
		<p>
			{% if doc.data.publicationTitle %}<span class="italic">{{doc.data.publicationTitle}}</span>{% endif %}
			{% if doc.data.bookTitle %}<span class="italic">{{doc.data.title}}</span>{% endif %}
			{% if doc.data.blogTitle %}<span class="italic">{{doc.data.blogTitle}}</span>{% endif %}
			{% if doc.data.issue %} n°{{doc.data.issue}},{% endif %}
			{% if doc.data.publisher %}{{doc.data.publisher}},{% endif %}
			{% if doc.data.place %} {{doc.data.place}},{% endif %}
			{% if doc.data.date %}
			{{doc.data.date }}{% endif %}{% if doc.data.language %}, {{doc.data.language }}{% endif %}
		</p>
		{% endif %}

		<!-- ACCESS DATE + URL-->
		{% if doc.data.accessDate or doc.data.url %}
		<p class="details web">
			{% if doc.data.accessDate %}
			<strong>Visité le&thinsp;:</strong>
			<span class="italic">{{ doc.data.accessDate }}</span><br>
			{% endif %}
			{% if doc.data.url %}
			<span class="url">{{ doc.data.url }}</span>
			{% endif %}
		</p>
		{% endif %}

	</div>
</div>

<div class="hautDroit">
	<!-- AJOUT + MODIFS -->
	{% if doc.data.dateModified or doc.meta.createdByUser.username or doc.data.dateAdded %}
	<p class="details add">
		{% if doc.meta.createdByUser.username %}
		<strong>Ajouté par&thinsp;:</strong>
		<span class="italic">{{ doc.meta.createdByUser.username }}</span>
		{% endif %}
		{% if doc.data.dateAdded %}
		<span>le </span><span class="date">{{ doc.data.dateAdded }}</span>
		{% endif %}
		{% if doc.meta.lastModifiedByUser %}
		<strong>Modifié par&thinsp;:</strong>
		<span class="italic">{{ doc.meta.lastModifiedByUser.username }}</span>
		{% if doc.data.dateModified %}
		<span>le </span><span class="date">{{ doc.data.dateModified }}</span>
		{% endif %}
		{% else %}
		<strong>Modifié le&thinsp;:</strong>
		{% if doc.data.dateModified %}
		<span class="date">{{ doc.data.dateModified }}</span>
		{% endif %}
		{% endif %}
	</p>
	{% endif %}
</div>

<div class="basGauche" style="height: {{height_mp}}; text-overflow: ellipsis;">
	<div class="contentContainer"></div>
</div>

<div class="basDroit" style="height: {{height_mp}}; text-overflow: ellipsis;">
	<div class="contentContainer"></div>
</div>

<article id="contentSource">
	<!-- TAGS -->
	{% if doc.data.tags %}
	<p class="tags">
		{% for tag in doc.data.tags %}
		{% if tag.tag %}
		<span class="tag" style="margin-left: {{range(1,40)|random}}px;">{{tag.tag}}</span>
		{% endif %}
		{% endfor %}
	</p>
	{% endif %}
	<!-- RESUMÉ -->
	{% if doc.data.abstractNote %}
	<p class="abstractNote">
		<strong>Résumé&thinsp;:</strong>
		{{doc.data.abstractNote | replace("de ", "de\u00A0") | replace("le ", "le\u00A0") | replace("la ", "la\u00A0")| replace("un ", "un\u00A0") | replace("la ", "la\u00A0")| replace("a ", "a\u00A0") | replace("of ", "of\u00A0")}}
	</p>
	{% endif %}

	<!-- NOTE -->
	{% if doc.note %}
	<p class="note">
		{{ doc.note|safe| replace("de ", "de\u00A0") | replace("le ", "le\u00A0") | replace("la ", "la\u00A0")| replace("un ", "un\u00A0") | replace("la ", "la\u00A0")}}
	</p>
	{% endif %}
</article>
