<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>reloaded</title>
<style>
body {
	font-family: monospace;
	font-size: 12px;
}
main {
	display: flex;
}
#documents {
	color: purple;
}
#collections {
	color: blue;
}
.sucess {
	color: green;
}
.error {
	color: red;
}
</style>
</head>
<body>
	<header>
		{% if result == 0 %}
		<div class="result sucess">
			------------</br>
			RELOADED !!!</br>
			------------
		</div>
		{% else %}
		<div class="result error">
			--------------</br>
			SHIT ERROR !!!</br>
			--------------
		</div>
		{% endif %}

	</header>
	<main>
		<section id="documents">
			<ul>
			{% for doc in documents %}
			<li>{{ doc.data.title }}</li>
			{% endfor %}
			</ul>

		</section>
		<section id="collections">
			<ul>
			{% for col in collections %}
			{% set name = col.values() | list %}
			<li>{{ name[0] }}</li>
			{% endfor %}
			</ul>

		</section>


	</main>
	
	
</body>
</html>
