<div class="rien"></div>
<div class="rien"></div>
<div class="versoHaut">
	<div class="zotero">
		<p>
			Initié à l'occasion du festival d'Ethics by Design 2022, ce marque page proposé par
			{% if doc.meta.createdByUser.username %}
			<span class="italic">{{ doc.meta.createdByUser.username }}</span>
			{% endif %}
			reprend les métadonnées de
			{% if doc.data.title %}
			<span class="italic">{{ doc.data.title | replace("de ", "de\u00A0") | replace("le ", "le\u00A0") | replace("la ", "la\u00A0")| replace("un ", "un\u00A0") | replace("la ", "la\u00A0") | replace("Un ", "Un\u00A0")}}.</span>
			{% endif %}
		</p>

		<p>
			Il constitue une extension tangible de la ressourçothèque collective de Numériques Situés conçue à partir de Zotero, logiciel libre de gestion de références.
			Imaginé par Luuse à l'aide de langages de programmation web css to print, il participe à tisser des liens, approfondir, augmenter mais aussi à mettre en tension les trois thématiques de cette édition : <strong>Design numérique et démocratie,
				Designer dans un monde fini et Designer (dans) le chaos</strong>.
		</p>

		<p>
			Pour partager des références relatives à ces thématiques et ainsi générer un marque page, vous pouvez nous contacter à l'adresse <span class="url">bonjour@numeriques.brussels</span> et nous vous enverrons une invitation Zotero.
		</p>

		<p>
			<span class="url">http://numeriques.brussels/</span>
		</p>

	</div>
</div>

<div class="versoBas">
	{% set titlecoll = doc.collections_title[0]|safe %}
	{% set titlecollsplit = titlecoll.split(':')[1] %}
	<strong class="sub-title">{{ titlecollsplit }}
	</strong><br><br>
	{% set collects = doc.data.collections %}
	{% for docu in documents %}
	{% if collects == docu.data.collections %}
	{% if docu.data.title == doc.data.title %}
	<div style="padding-left:20px">
		<strong class="italic coll">{{ doc.data.title }}</strong>
	</div>
	{% else %}
	<span class="italic coll">{{ docu.data.title }}</span>
	{% endif %}


	{% if docu.data.creators %}
	{% for creator in docu.data.creators %}
	{% if docu.data.creators == doc.data.creators %}
	<strong style="padding-left:20px">{{creator.name}}</strong>
	{% else %}
	<span>{{creator.name}}</span>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% if docu.data.creators %}
	{% if docu.data.creators == doc.data.creators %}
	<strong>{{docu.data.creators[0].firstName}} {{docu.data.creators[0].lastName}}</strong><br>
	{% else %}
	<span>{{docu.data.creators[0].firstName}} {{docu.data.creators[0].lastName}}</span><br>
	{% endif %}
	{% else %}
	<br>
	{% endif %}
	{% endif %}
	{% endfor %}
</div>